html, body, .container-fluid, .tab-pane {
	height: 100%;
}

:root{
	--graph-margin: 40px;
	--graph-border: 5px;
}

.nodeEditorRow {
	margin: 10px;
}

#sigmaContextMenu {
	position: absolute;
	display: none;
}

.tab-content {
	height: calc(100% - 60px);
}

.graphContainer {
	overflow: hidden;
	margin:0;
	padding:0;
	border: 1px solid;
	border-color: rgb(204, 204, 204);
	border-radius: 4px;
	height: 100%;
	padding: 0;
}

.treeText {
	padding: 0;
	height: 100%;
}

.textRow{
	height: 25%;
	padding: 50px;
	padding-top: 25px;
	padding-bottom: 0;
}

.graphRow{
	height: 75%;
	padding: 50px;
	padding-top: 25px;
}
